.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;

  .pricing {
    font-size: 1.5em;
    color: #7151a1;

    .currency {
      font-size: 0.7em;
    }
  }

  .remove {
    border: 0;
    border-radius: 50px;
    font-size: 1.2em;
    background-color: var(--primary-color);
    color: #000;
  }

  .actions {
    .add-cart,
    .pick-up {
      width: 250px;
      height: 50px;
      border-radius: 50px;
      border: none;
      font-size: 1.2em;
      margin-top: 1em;
    }

    .pick-up {
      background-color: var(--primary-color);
      color: #000;
    }

    .add-cart {
      background-color: var(--secondary-color);
      color: #fff;
    }
  }

  h1 {
    font-size: 28px;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
}

.modal-main {
  position: fixed;
  background: white;
  width: 30%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 101;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .modal-main {
    width: 100%;
  }
}
