@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.first-nav {
  background-color: #FEEE3C;
  height: 48px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  .symbol { 
    margin: 0 10px;
    font-size: 16px;
  }
  .nav-img {
    height: 25px;
    margin-right: 10px;
  }
}

