@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

p {
  margin: 0;
}

nav {
  .first-nav {
    background-color: #feee3c;
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-shadow: 0 0.73px 2px #00000080;

    .symbol {
      margin: 0 10px;
      font-size: 16px;
    }

    .nav-img {
      height: 25px;
      margin-right: 10px;
    }
  }

  .second-nav {
    height: 84px;
    font-family: 'Montserrat', sans-serif;

    .brand-img {
      height: 57px;
    }

    .search {
      background: url(../../public/images/Path-774.svg) no-repeat 10px 10px padding-box;
      padding-left: 45px;
      height: 48px;
      width: 350px;
      border: 0.5px solid #d8d8d8;
      border-radius: 24px;
      font-weight: 600;
    }

    .search::placeholder {
      color: #000;
      font-weight: 600;
    }

    .cart {
      position: absolute;
      transform: translate(120%, -30%);
      background-color: #feee3c;
      border-radius: 50%;
      height: 16px;
      width: 16px;
      font-size: 10px;
      padding-left: 5px;
      padding-top: 1px;
      font-weight: 600;
    }
  }

  .third-nav {
    height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    .container {
      height: 48px;
      font-size: 17px;
    }
  }

  .fourth-nav {
    border-bottom: 1px solid #d8d8d8;

    .container {
      height: 48px;
      font-size: 17px;
    }
  }
}
